<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <h3><a class="nav-link" href="#"> <span class="label label-default"></span> </a></h3>
      </li>
     
    </ul>
    <div class="form-inline my-2 my-lg-0">    
     
    </div>
  </div>
</nav>

<div class="sidenav">
  <span style="text-align: center">{{userName | uppercase}}</span>
  <br>
   &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<button class="btn btn-secondary" (click)="logOut()" type="submit" routerLink="" routerLinkActive="active">Logout</button>
<br>
<br>
<br>

<nav>
   
    
  <a routerLink="/new"
     routerLinkActive="active">New Incident</a>
  <a routerLink="search"
     routerLinkActive="active">Search</a>
     <a routerLink="/view"
     routerLinkActive="active">View</a>
</nav>
</div>
