


<app-main></app-main>


<div class="main" id="main">

    <div class="card" id="rewRequest">
    <div class="card-body">
      <div class="row">
  <div class="col-md-12 mb-4">

     

      <div class="col">
          <!-- Default input -->
         <sup> <input type="text" class="form-control" [(ngModel)]="userFilter.incident_id"   placeholder="Search Here..,"></sup>
      </div>
      
      
  </div>
  
 
              
        
      
      
      
     
     
<div style="overflow-x:auto;">

<table class="table table-stripe" >
 <thead><tr>
   <th>S.No</th>
   <th>Incident Id</th>
   <th>Incident Type</th>
   <th>Company</th>
   <th>Customer</th>
   <th> Impact </th>
   <th>Urgency</th>
   <th>Piriority</th>
   <th></th>
  </tr></thead>
 <tbody>


    <tr *ngFor="let ser of services |filterBy: userFilter | paginate: { itemsPerPage: 5, currentPage: p };let i=index ">

      <td> {{ i+1 }}</td>
     <td> {{ ser.InstanceId }}</td>
     <td> {{ ser.Status }} </td>
     <td> {{ ser.Company }} </td>
     <td> {{ ser.Customer }} </td>
      <td> {{ ser.Impact }}</td>
     <td> {{ ser.Urgency }} </td>
     <td> {{ ser.Priority }} </td>
     <td></td>
      
   </tr>

   <tr>

      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    
    </tr>  
  
    
   
 </tbody>
</table>




</div>
     
</div>
</div>
</div>
</div>





