<app-main>



</app-main>


<div class="main" id="main">

	<div class="card">
		<div class="card-body">



			<form [formGroup]="incidentForm" (ngSubmit)="onIncidentSubmit()">
				<div class="row">

					<div class="col">

						<div class="card">
							<div class="card-body">


								<br>
								<div>

									<div class="form-row">
										<div class="col">Incident Id</div>


										<div class="col">
											<sup>
												<input type="number" formControlName="incident_id" class="form-control" readonly>
											</sup>
										</div>

										<div class="col">Company
											<sup class="red">*</sup>
										</div>


										<div class="col">
											<sup>
												<input type="text" formControlName="company" class="form-control" required>
											</sup>
										</div>


									</div>
									<br>

									<div class="form-row">
										<div class="col">Short Description</div>


										<div class="col">
											<sup>
												<input type="text" formControlName="short_dec" class="form-control" required>
											</sup>
										</div>

										<div class="col">Impact
											<sup class="red">*</sup>
										</div>


										<div class="col">
											<sup>
												<select formControlName="impact" class="form-control">
													<option *ngFor="let o of impacts">
														{{o}}
													</option>
												</select>
											</sup>
										</div>


									</div>
									<br>



									<div class="form-row">
										<div class="col">Urgency
											<sup class="red">*</sup>
										</div>


										<div class="col">
											<sup>
												<select formControlName="urgency" class="form-control">
													<option *ngFor="let o of urgencys">
														{{o}}
													</option>
												</select>
											</sup>
										</div>

										<div class="col">Reported Source
											<sup class="red">*</sup>
										</div>


										<div class="col">
											<sup>
												<select formControlName="reported_source" class="form-control">
													<option *ngFor="let o of reported_sources">
														{{o}}
													</option>
												</select>
											</sup>
										</div>


									</div>
									<br>



									<div class="form-row">
										<div class="col">Service Type
											<sup class="red">*</sup>
										</div>


										<div class="col">
											<sup>
												<select formControlName="service_type" class="form-control">
													<option *ngFor="let o of service_types">
														{{o}}
													</option>
												</select>
											</sup>
										</div>

										<div class="col">Status</div>


										<div class="col">
											<sup>
												<select formControlName="status" class="form-control">
													<option *ngFor="let o of statues">
														{{o}}
													</option>
												</select>
											</sup>
										</div>


									</div>
									<br>


									<div class="form-row">
										<div class="col">Assignee
											<sup class="red">*</sup>
										</div>


										<div class="col">
											<sup>
												<select formControlName="assignee" class="form-control">
													<option *ngFor="let o of names">
														{{o}}
													</option>
												</select>
											</sup>
										</div>

										<div class="col">Submitter</div>


										<div class="col">
											<sup>
												<input type="text" formControlName="submitter" class="form-control" readonly>
											</sup>
										</div>


									</div>
									<br>


									<div class="form-row">
										<div class="col">Create Date</div>


										<div class="col">
											<sup>
												<input type="text" formControlName="create_date" class="form-control" readonly>
											</sup>
										</div>

										<div class="col">Modify Date</div>


										<div class="col">
											<sup>
												<input type="text" formControlName="modify_date" class="form-control" readonly>
											</sup>
										</div>


									</div>
									<br>



									<div class="form-row">
										<div class="col">Last Modify Date</div>


										<div class="col">
											<sup>
												<input type="text" formControlName="last_modify_date" class="form-control" readonly>
											</sup>
										</div>

										<div class="col"></div>

										<div class="col">
											<sup>

											</sup>
										</div>



									</div>
									<br>
									<br>


								</div>
							</div>
						</div>
					</div>



					<div class="col">

						<div class="card">
							<div class="card-body">
								<div>

									<fieldset class="scheduler-border">
										<legend class="scheduler-border">Operational Categories</legend>

										<div class="form-row">
											<div class="col">Tier 1</div>


											<div class="col">
												<sup>
													<select formControlName="oc_tier_1" class="form-control">
														<option *ngFor="let o of names">
															{{o}}
														</option>
													</select>

												</sup>
											</div>

											<div class="col"></div>
										</div>

										<br>
										<div class="form-row">
											<div class="col">Tier 2</div>


											<div class="col">
												<sup>
													<select formControlName="oc_tier_2" class="form-control">
														<option *ngFor="let o of names">
															{{o}}
														</option>
													</select>
												</sup>
											</div>

											<div class="col"></div>
										</div>


										<br>
										<div class="form-row">
											<div class="col">Tier 3</div>


											<div class="col">
												<sup>
													<select formControlName="oc_tier_3" class="form-control">
														<option *ngFor="let o of names">
															{{o}}
														</option>
													</select>
												</sup>
											</div>

											<div class="col"></div>
										</div>


									</fieldset>



									<fieldset class="scheduler-border">
										<legend class="scheduler-border">Product Categories</legend>

										<div class="form-row">
											<div class="col">Tier 1</div>


											<div class="col">
												<sup>
													<select formControlName="pc_tier_1" class="form-control">
														<option *ngFor="let o of names">
															{{o}}
														</option>
													</select>
												</sup>
											</div>

											<div class="col"></div>
										</div>

										<br>
										<div class="form-row">
											<div class="col">Tier 2</div>


											<div class="col">
												<sup>
													<select formControlName="pc_tier_2" class="form-control">
														<option *ngFor="let o of names">
															{{o}}
														</option>
													</select>
												</sup>
											</div>

											<div class="col"></div>
										</div>


										<br>
										<div class="form-row">
											<div class="col">Tier 3</div>


											<div class="col">
												<sup>
													<select formControlName="pc_tier_3" class="form-control">
														<option *ngFor="let o of names">
															{{o}}
														</option>
													</select>
												</sup>
											</div>

											<div class="col"></div>
										</div>


									</fieldset>





								</div>
							</div>
						</div>

					</div>
				</div>

				<br>

				<div class="row">

					<div class="col">

						<div class="card">
							<div class="card-body">


								<div class="form-row">
									<div class="col"></div>


									<div class="col">

									</div>

									<div class="col">Work Info</div>


									<div class="col">

									</div>


								</div>
								<div>
									<br>

									<div class="form-row">
										<div class="col">Description</div>


										<div class="col">
											<sup>
												<input type="text" formControlName="w_dec" class="form-control">
											</sup>
										</div>

										<div class="col">&nbsp; &nbsp;Time</div>


										<div class="col">
											<sup>
												<input type="text" formControlName="w_time" class="form-control" readonly>
											</sup>
										</div>


									</div>
									<br>


									<div class="form-row">
										<div class="col">Type
											<sup class="red">*</sup>
										</div>


										<div class="col">
											<sup>
												<select formControlName="type" class="form-control">
													<option *ngFor="let o of names">
														{{o}}
													</option>
												</select>
											</sup>
										</div>

										<div class="col"></div>


										<div class="col">
											<sup>

											</sup>
										</div>

									</div>


								</div>
							</div>
						</div>
					</div>


				</div>


				<br>
				<div class="row">

					<div class="form-row">
						<div class="col"></div>


						<div class="col">

						</div>

						<div class="col">
							<button class="btn btn-success" type="submit">Create</button>
						</div>


						<div class="col">

						</div>


					</div>

				</div>

			</form>

		</div>
	</div>